In [16]:
name = "Hello World"
print(name)
name[2::-1]

Hello World

'leH'

In [19]:
a=[1,2,3,4,5,6,'hello',True]

In [24]:
type(a)

list

In [26]:
a.index('hello')

6

In [27]:
s="abcd"

In [28]:
e="xywz"

In [41]:
c='b'
d = s.find(c)
print(d)

1

In [37]:
e[d]

'y'

In [42]:
e[-2]

'w'

In [58]:
hi ="Mexico"
if hi=="Mexico":
    print("Arriba Arriba andele ...")

Arriba Arriba andele ...

In [61]:
ar="mesamis"
for i in ar:
    print(i)

m
e
s
a
m
i
s

In [77]:
s="abcd"
e="xwyz"
user_list ='ab'

In [82]:
def encoder(user_list):
answer =""
for user in user_list:
    b = s.find(user)
    if b != -1:
           answer = answer + e[b]
    else:
            print("not found")
            
return answer

xw

In [81]:
"hello" + "world"

'helloworld'

In [84]:
d={'a':1,'b':2,'c':"hello world","marks":[1,2,3,4],4:"hello new"}

In [85]:
type(d)

dict

In [86]:
type(d["marks"])

list

In [87]:
d={'a':1,'b':2,'c':3}

In [89]:
for key1 in d:
    print(key1)

a
b
c

In [91]:
for key1 in d:
    print(d[key1])

1
2
3

In [94]:
import pandas

In [98]:
df = pandas.DataFrame({'a':[1,2],'b':[3,4]})
type(df)

pandas.core.frame.DataFrame

In [99]:
len(df)

2

In [100]:
df

   a  b
0  1  3
1  2  4

In [101]:
import pandas as pd

In [104]:
df = pd.read_csv("physician_rx.csv")

In [105]:
len(df) #returns the size of the table - number of rows ...

100

In [114]:
df.head(10) #returns the first (n) elements in the list

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0
5  AP3674571       70.0           40              0         64           0
6  AP0126982        0.0          135              0          0           0
7        NaN      150.0          315            270        184          36
8  AP1807651        0.0          650              0          0         300
9  AP0728371        0.0            0              0          0           0

In [107]:
df.shape # returns the shape of the table ...

(100, 6)

In [110]:
df.tail(10) #returns the last (n) columns in the table

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [111]:
df.columns #returns the number of columns ...

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [112]:
df.dtypes #this function returns the type of objects in the columns - object is basically an string

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [115]:
df[["PHYSICIAN","AllergyMax_RX"]] #returns the specified columns in the table ...

    PHYSICIAN  AllergyMax_RX
0   AP1912920            510
1   AP1350415             60
2   AP0129322              0
3   AP0462902              0
4   AP3185026           1080
5   AP3674571              0
6   AP0126982              0
7         NaN            270
8   AP1807651              0
9   AP0728371              0
10  AP1934892              0
11  AP1595288             45
12  AP1883103            240
13  AP1365782            255
14        NaN              0
15  AP2443797              0
16  AP0036951              0
17  AP3200230              0
18  AP0139724            360
19  AP2166075              0
20        NaN              0
21  AP1332969              0
22  AP2130355              0
23  AP0714887            615
24  AP2214740              0
25  AP0857188              0
26        NaN            510
27  AP1874350             75
28  AP3209293            465
29  AP0089696           3435
..        ...            ...
70  AP0683877            240
71  AP0118925              0
72  AP2152296              0
73  AP1343639              0
74  AP1869077              0
75  AP2196115              0
76  AP1230067              0
77  AP2014650              0
78  AP2281620              0
79  AP1336198              0
80  AP0849708           3495
81  AP2113896              0
82  AP1834639             60
83  AP0455565            810
84  AP0849030            525
85  AP0478796            150
86  AP3589376              0
87  AP2459335              0
88  AP0812453              0
89  AP0433841              0
90  AP1947403              0
91  AP0189854            720
92  AP3883979              0
93  AP0390218            180
94  AP2286280              0
95  AP1957774              0
96  AP1273998              0
97  AP1228990              0
98  AP1881803              0
99  AP4772804              0

[100 rows x 2 columns]

In [116]:
df[["PHYSICIAN","AllergyMax_RX"]] [0:4] #for subsetting

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [121]:
df.loc[0:4,"PHYSICIAN":"AllergyMax_RX"] #for subsetting

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX
0  AP1912920        0.0           50            510
1  AP1350415     2370.0         1320             60
2  AP0129322        0.0           85              0
3  AP0462902       30.0          570              0
4  AP3185026        0.0           40           1080

In [118]:
df.iloc[0:4,0:4] #for subsetting

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX
0  AP1912920        0.0           50            510
1  AP1350415     2370.0         1320             60
2  AP0129322        0.0           85              0
3  AP0462902       30.0          570              0

In [127]:
mydf = df[df["CroMax_RX"]>50]

In [131]:
mydf[mydf["GlycoMax_RX"]>50]
mydf.iloc[0:10,0:3]

    PHYSICIAN  CroMax_RX  GlycoMax_RX
1   AP1350415     2370.0         1320
5   AP3674571       70.0           40
7         NaN      150.0          315
10  AP1934892      640.0          390
11  AP1595288      160.0           35
13  AP1365782      400.0           15
14        NaN       90.0          150
16  AP0036951      330.0          525
21  AP1332969       90.0          870
22  AP2130355      160.0          145

In [146]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)]
df.iloc[0:1,0:1]

   PHYSICIAN
0  AP1912920

In [148]:
df.iat[0,0] #iat is design to return just one cell ... the rest of its kind return a dataset

'AP1912920'

In [149]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [150]:
df.iloc[0,0]

'AP1912920'

In [162]:
df[df["CroMax_RX"].isnull()]

Empty DataFrame
Columns: [PHYSICIAN, CroMax_RX, GlycoMax_RX, AllergyMax_RX, FevMax_RX, ColdMax_RX]
Index: []

In [163]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [164]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [165]:
df =df.dropna()

In [166]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [167]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [174]:
df = df.rename(columns={'PHYSICIAN':'PHY'})

In [175]:
df.head()

         PHY  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [176]:
"hello world".replace("l","z")

'hezzo worzd'

In [179]:
df.columns=df.columns.str.replace("_",".")

In [180]:
df.head()

         PHY  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [181]:
df["PHY"]=df["PHY"].str.replace("AP","AB")

In [182]:
df.head()

         PHY  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [183]:
df["bucket"] = "B1"

In [184]:
df.head()

,PHY,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [197]:
df.head()

,PHY,CRO,GLY,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_PHY
0,AB1912920,0.0,50,510,152,0,B2,B2_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B2,B2_AB0129322
3,AB0462902,30.0,570,0,128,3900,B2,B2_AB0462902
4,AB3185026,0.0,40,1080,0,0,B2,B2_AB3185026

In [186]:
df = df.rename(columns={'CroMax.RX':'CRO'})

In [187]:
df = df.rename(columns={'GlycoMax.RX':'GLY'})

In [189]:
df.head()

         PHY     CRO   GLY  AllergyMax.RX  FevMax.RX  ColdMax.RX bucket
0  AB1912920     0.0    50            510        152           0     B1
1  AB1350415  2370.0  1320             60       1416        2676     B1
2  AB0129322     0.0    85              0          0         144     B1
3  AB0462902    30.0   570              0        128        3900     B1
4  AB3185026     0.0    40           1080          0           0     B1

In [190]:
df["bucket"] = "B2"

In [192]:
df.head()

         PHY     CRO   GLY  AllergyMax.RX  FevMax.RX  ColdMax.RX bucket
0  AB1912920     0.0    50            510        152           0     B2
1  AB1350415  2370.0  1320             60       1416        2676     B2
2  AB0129322     0.0    85              0          0         144     B2
3  AB0462902    30.0   570              0        128        3900     B2
4  AB3185026     0.0    40           1080          0           0     B2

In [193]:
df.loc[(df["CRO"]>50)&(df["GLY"]>50),"bucket"] ="B1"

In [194]:
df.head()

         PHY     CRO   GLY  AllergyMax.RX  FevMax.RX  ColdMax.RX bucket
0  AB1912920     0.0    50            510        152           0     B2
1  AB1350415  2370.0  1320             60       1416        2676     B1
2  AB0129322     0.0    85              0          0         144     B2
3  AB0462902    30.0   570              0        128        3900     B2
4  AB3185026     0.0    40           1080          0           0     B2

In [195]:
df["new_PHY"] = df["bucket"]+"_"+df["PHY"]

In [196]:
df.head()

,PHY,CRO,GLY,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_PHY
0,AB1912920,0.0,50,510,152,0,B2,B2_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B2,B2_AB0129322
3,AB0462902,30.0,570,0,128,3900,B2,B2_AB0462902
4,AB3185026,0.0,40,1080,0,0,B2,B2_AB3185026

In [198]:
"hello_world".split("_")

['hello', 'world']

In [199]:
df = df[['new_PHY','CRO','GLY','AllergyMax.RX','FevMax.RX','ColdMax.RX']]

In [200]:
df.head()

        new_PHY     CRO   GLY  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  B2_AB1912920     0.0    50            510        152           0
1  B1_AB1350415  2370.0  1320             60       1416        2676
2  B2_AB0129322     0.0    85              0          0         144
3  B2_AB0462902    30.0   570              0        128        3900
4  B2_AB3185026     0.0    40           1080          0           0

In [201]:
df["PHY"] = df["new_PHY"].str.split("_").str[1]
df["BUCK"] = df["new_PHY"].str.split("_").str[0]

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [202]:
df.head()

,new_PHY,CRO,GLY,AllergyMax.RX,FevMax.RX,ColdMax.RX,PHY,BUCK
0,B2_AB1912920,0.0,50,510,152,0,AB1912920,B2
1,B1_AB1350415,2370.0,1320,60,1416,2676,AB1350415,B1
2,B2_AB0129322,0.0,85,0,0,144,AB0129322,B2
3,B2_AB0462902,30.0,570,0,128,3900,AB0462902,B2
4,B2_AB3185026,0.0,40,1080,0,0,AB3185026,B2